
.main-nav {@include centerFlex;
    border-bottom: 1px solid #ECECEC;
    }

    
.site-nav {display: flex;
    margin-top: 0;
    margin-bottom: 0;

& .item + .item { margin-left: 50px;}    
    }

.navigac {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-top: 0;
        margin-bottom: 0;
        color: $stile-text-color;
    line-height: 1.5;
    transition: color $transition-valuse;

&:hover,
&:focus {color: $activ-text-color;
    fill: $activ-text-color;
         }}    

.site-nav .current {color: $activ-text-color;
&:after {
        content: '';
     position: absolute;
     line-height: 80px;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 4px;
     background-color: $activ-text-color;
     border-radius: 2px;}   }    


.contact {@include centerFlex;
        color: $stile-text-color;
        line-height: 1.14;
        fill: $stile-text-color;
        transition: fill $transition-valuse,
        color $transition-valuse;
    
&:hover,
&:focus {color: $activ-text-color;
    fill: $activ-text-color;
         }    }     
     
.adres-nav {display: flex;
            margin-left: auto;
          
& .adres-item + .adres-item {margin-left: 50px;}
.icon-mail {margin-right: 10px;} }                          
     