.klientu {    
    @include centerFlex;
    margin-top: 0;
    margin-bottom: 94px;
    padding-left: 0;

&-items + &-items {margin-left: 30px;}}

 .border-klientu {
     @include centerFlex;
    fill: #afb1b8;
     width: 170px;
height: 90px;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition: $transition-valuse;

&:hover,
&:focus { border: 1px solid $active-text-color;
    fill: $active-text-color;}
}